@import url('../globalStyle.css');

.main-content {
    padding: 3% 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: auto;

}

.booked-title {
    font-family: titleFont;
    font-size: clamp(1.5rem, 2vw, 2rem);
}

.booked-table {
    background-color: rgb(59, 122, 87, 0.5);
    box-shadow: 2px 2px 1px black;
    padding: 1%;
    width: 35%;
}
.booked-table > thead {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    font-family: textFont;
    font-weight: 800;

}
.booked-table th, tr, td {
    padding: 3%;
    border: 1px solid black;
}
.booked-text {
    font-weight: 500;
    color: rgb(61, 61, 61);
}

.booked-quote {
    padding: 2%;
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    box-shadow:  20px 20px 30px #bebebe,
                -20px -20px 30px #ffffff;
    max-width: 50%;
    height: auto;
}
.booked-form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    position: relative;

}
.form-group {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.pax-group {
    flex-direction: column;
    
}
.radio-label {
    padding: 10%;
    
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-wrap: nowrap;
    background-color: green;
}
.radio-label > input {
    opacity: 1;
    position: absolute;
    cursor: pointer;
}
.radio-label:has(> input.checked) {
     background-color: red;
}   
