@import url('./globalStyle.css');

.main-content {
    width: 100%;
    padding: 3% 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background: #dadada ;
}

.intro-cont {
    position: relative;
    width: 100%;
    height: 100vh;
    margin-top: calc(-4vh - 4%); 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url('../images/sta_lucia.jpg') center center no-repeat fixed;
    background-size: cover;
    z-index: 1;
    color: white;
}

.intro-cont::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 0;
    pointer-events: none;
}

.intro-cont > * {
    position: relative;
    z-index: 1;
}

.intro-title {
    width: 60%;
    text-align: center;
    font-family: titleFont;
    font-size: clamp(3rem, 3vw, 4rem);
}

.intro-button {
    padding: 2%;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    color: #FFFFFF;
    border: none;
    background-color: #3B7A57;
    font-family: textFont;
    font-weight: 600;
    font-size: clamp(1rem, 1vw, 2rem);
    transition: all 0.3s ease;
}

.intro-button:hover {
    background-color: #265039;
    transform: scale(1.1);
}

.intro-button:active {
    transform: scale(0.9);
}
.categories {
    width: auto;
    max-width: 80%;
    background-color: #3B7A57;
    padding: 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.category-section {
    width: 30%;
    text-align: justify;
}
.category-title {
    font-family:  titleFont;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
}
.category-desc {
    font-family: textFont;
    font-weight: 500;
    font-size: clamp(0.6rem, 1vw, 1rem);
}

.packages {
    width: 100%;
    height: auto;
    padding: 2% 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;

}
.package-card {
    width: 400px;
    aspect-ratio: 10 / 10;
    border-radius: 10px;
    background: #e0e0e0;
    box-shadow: -20px -20px 60px #bebebe,
                 20px 20px 60px #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    position: relative;
    padding-bottom: 48px;
    transition: all 0.3s ease;
    cursor: pointer;
}
.package-card:hover {
    background-color: var(--Yellow);
    box-shadow: 0 0 50px var(--Yellow);
}
.package-card:hover > .package-image {
    transform: scale(1.05);
}
.package-image {
    transition: all 0.3s ease;
    height: 50%;
    width: 100%;
    object-fit: cover;
    flex-shrink: 0;
}

.package-title {
    font-weight: bold;
    font-size: 1.5em;
    font-family: titleFont  ;
    padding: 0 16px;
     margin: 12px 0 4px;
    
} 

.package-desc {
    font-size: 1em;
    padding: 0 16px;
    margin-bottom: auto; 
    text-align: justify;
}
.package-button {
    margin-top: 5%;
    padding: 4%;
    width: 80%;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    color: #FFFFFF;
    border: none;
    background-color: #3B7A57;
    font-family: textFont;
    font-weight: 600;
    font-size: clamp(1rem, 1vw, 2rem);
    transition: all 0.3s ease;
}
.package-button:hover {
    background-color: #265039;
}
.package-button:active {
    transform: scale(0.9);
}
.package-info {
    display: flex;
    width: 80%;
    justify-content: space-between;
    font-size: 0.95em;
    color: #808080;
    font-weight: 700;
}


.framework {
    position: relative;
    width: 100%;
    height: auto;
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.framework-section {
    position: relative;
    width: 80%;
    border-radius: 100px;
    padding: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.framework-title {
    font-weight: 700;
    font-size: clamp(1rem, 2vw, 1.5rem);
    font-family: titleFont;
}
.senses-card {
    position: relative;
    width: 100px;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.senses-popup {
    position: absolute;
    bottom: 110%; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--Green);
    color: white;
    padding: 10px;
    border-radius: 6px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 50;
    white-space: nowrap;
}

.senses-card:hover .senses-popup {
    opacity: 1;
    pointer-events: auto;
}

.senses-img {
    width: 80%;
    object-fit: cover;
    aspect-ratio: 1;
}
.stages {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 1rem;
    padding: 2%;
}

.stage-title {
    grid-column: 1 / -1;
    text-align: center;
    margin-bottom: 1rem;
    font-size: clamp(1rem, 2vw, 1.5rem);
    font-weight: 700;
    font-family: titleFont;
}

.stage-card {
    aspect-ratio: 10 / 12;
    padding: 2%;
    background-color: var(--Green);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    transition: all 0.3s ease;
    cursor: pointer;
}
.stage-card:hover {
    box-shadow: 0 0 20px var(--Yellow);
}

.popup-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  perspective: 1200px;
  z-index: 1000;
  display: none;
}

.stage-popup {
  width: 250px;
  aspect-ratio: 10 / 12;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.popup-inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 1s;
  position: relative;
}

.popup-front,
.popup-back {
  position: absolute;

  width: 100%;
  height: 100%;
  border-radius: 12px;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12%;
  text-align: center; 
  font-family: textFont;
  font-weight: 600; 
  color: white;
}

.popup-front {
  background-size: cover;
  background-position: center;
  background-color: var(--Green);
}

.popup-back {
  background-color: #222;
  background-size: cover;
  background-position: center;
  transform: rotateX(180deg);
}


.popup-text {
  font-size: clamp(1rem, 1.5vw, 1.2rem);
  line-height: 1.4;
}

.stage-popup.flipped .popup-inner {
  transform: rotateX(180deg);
}


.framework-section.stages:hover .stage-card {
  filter: grayscale(100%) brightness(0.6);
  transition: filter 0.3s ease;
}

.framework-section.stages .stage-card:hover {
  filter: none !important;
}

.scard1 {
    background: url('../images/pakikipagkapwa.jpg');
    background-position: center;
    background-size: cover;
}
.scard2 {
    background: url('../images/pakikisama.jpg');
    background-position: center;
    background-size: cover;
}
.scard3 {
    background: url('../images/pakikipaglagayan.jpg');
    background-position: center;
    background-size: cover;
}
.scard4 {
    background: url('../images/pakikisangkot.jpg');
    background-position: center;
    background-size: cover;
}
.scard5 {
    background: url('../images/pakikipagkapwa.jpg');
    background-position: center;
    background-size: cover;
}